./gestion_de_projet
gestion_de_projet

./config
config

./models
models

./data/lwf
lfw

./data/lfw_cropped
lfw_cropped

./src/architecture/images
images

./src/architecture/images/temp
temp


__pycache__/